table{
  border-collapse: collapse;
  width: 50%;

}
table, td, th{
  border: 1px solid black;
}
td, th{
  width: 100px;
  height: 50px;
}
th{
  text-align: right;
  vertical-align: middle;
}
td{
  text-align: left;
  vertical-align: bottom;
}
tr:nth-child(odd){
  background-color: red;
}
